.sections {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 25px;
        font-size: 2vw;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    p {
        font-size: 20px;
        font-size: 1.5vw;
        width: 80%;
        margin-bottom: 40px;
        text-align: center;
    }

    .next-button {
        margin-top: 40px;
        height: 2.5vw;
        font-size: 1.5vw;
    }
}